*{
       background: linear-gradient(to right,gray,black);
       font-size: 22px;
       font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       font-weight: 300;
       margin: 2;
       padding: 5px;
       color:white;
}

.ball {
       position: absolute;
       top: 0;
       left: 0;
       width: 70px;
       height: 70px;
       background-color: white;
       color:white;
       border-radius: 50%;
       animation: jump 1s infinite;
     }
     
     @keyframes jump {
       0% {
         transform: translate(0, 0);
       }
       50% {
         transform: translate(0, -50px);
       }
       100% {
         transform: translate(0, -100px);
       }
     }
        